{% extends "base.html" %}
{% block title %}Archivist Panel{% endblock %}

{% import "macros/diff.html" as d with context %}

{% block content %}

<h1>Archivist Panel</h1>

<div class='row'>
    <section class='column block'>
        <h1>Tools</h1>
        <ul>
            <li><a href="{{ url_for('edit.new_mod') }}">Add New Mod</a></li>
            <li><a href="{{ url_for('mods.browse', drafts='true') }}">Browse Drafts</a></li>

        </ul>
    </section>
    <section class='column block'>
        <h1><a href="{{ url_for('edit.draft_list') }}">Drafts</a></h1>
        {% if drafts %}
        <ul>
            {% for draft in drafts %}
            <li><a href="{{ url_for('edit.draft_page', id=draft.id) }}">
                    {{ draft.name }} (draft {{ draft.id }})</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None!</p>
        {% endif %}
    </section>
</div>

<section class='block'>
    <h1><a href="{{ url_for('admin.changes') }}">Recent Changes</a></h1>
    {{ d.diff_list(changes, class='sub-block') }}
</section>

{% endblock %}

