# Example config. Change these values and save as `dev_config.py`, then set
# environment variable `MCARCH_CONFIG` to `dev_config.py`.

SQLALCHEMY_DATABASE_URI='postgresql://localhost/mcarch'
RATELIMIT_STORAGE_URL='redis://localhost:6379'
CACHE_TYPE='redis'
CACHE_REDIS_URL='redis://localhost:6379'

# Database URI used for pytest
TEST_DATABASE_URI='postgresql://localhost/mcarch-test'

#B2_KEY_ID='AAAAAAAAAAAAAAAAAAAAAAAAA'
#B2_APP_KEY='AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
B2_PUBLIC_URL='https://b2.mcarchive.net/file/mcarchive/'
B2_BUCKET_NAME='mcarchive'

MAIL_SERVER='localhost'
#MAIL_USE_TLS=True
#MAIL_USERNAME=''
#MAIL_PASSWORD=''
#MAIL_DEFAULT_SENDER='noreply@example.com'

