flask
flask-sqlalchemy
flask-migrate
flask-redis
flask-wtf
flask-mail
flask-session
flask-caching
flask-limiter
flask-bcrypt
flask-restx

sqlalchemy-utils

pyYaml
bleach
markdown
b2sdk
pyotp

pytest
pytest-cov
pytest-flask
pytest-flask-sqlalchemy

psycopg2
