flask
flask-sqlalchemy
flask-migrate
flask-redis
flask-markdown
flask-wtf
flask-session
flask-limiter
flask-bcrypt
flask-marshmallow

marshmallow
marshmallow_sqlalchemy
sqlalchemy-utils

pyYaml
b2sdk
pyotp

pytest
pytest-flask
pytest-flask-sqlalchemy

psycopg2
