@import 'vars.scss';

// Padding on the inside of form elements.
$elem-pad: 4px 6px;
$fborder-rad: $border-rad - 2;

// The JS-based <select> style is in a separate file because it's big.
@import 'select.scss';

// General form field stuff
%formfield {
    padding: $elem-pad;
    box-shadow: $shadow;

    border-radius: $fborder-rad;
    border: 1px solid;

    color: $body-color;
    border-color: $gray;
    background-color: $lightgray;

    font-size: $font-size - 2;
}

// Text Boxes
input[type='text'], input[type='email'], input[type='password'], textarea {
    @extend %formfield;

    color: $body-color;
    background-color: #000;
    transition: background-color $fade-dur;
	box-sizing: border-box;

    &:focus {
        outline: none;
        background-color: $gray;
    }
}

// Buttons
button, input[type='button'], input[type='submit'], .button {
    @extend %formfield;

    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    // Remove chrome's ugly focus outline
    &:focus {
        outline: none;
    }

    &:hover {
        color: $body-color;
        background-color: $prim-light;
    }
    &:active, &.active {
        background-color: $gray;
        box-shadow: inset $shadow;
    }

    // Color affirmative buttons the primary color.
    &.affirm { @extend %btnaffirm; }
}
%btnaffirm, input[type='submit'] {
    background-color: $primary;
    color: #fff;

    &:focus, &:hover {
        background-color: $prim-light;
        color: #fff;
    }
    &:active {
        background-color: $prim-dark;
        color: #fff;
    }
}

// Make link buttons look like buttons.
a.button {
    text-decoration: none;
}

// Select fields
select {
    @extend button;
    & option {
        background-color: $gray;

        &:hover { background-color: $primary; }
    }
}


// Form tables for aligning elements
.form-table {
	// The labels are first, so align them in the top right
	& td.label {
		vertical-align: top;
		text-align: right;
	}

	// Make inputs in the table expand to fill the full width
	& td > input[type="text"] {
		width: 100%;
	}

	& td > textarea {
		box-sizing: border-box;
		width: 100%;
		min-width: 400px;
	}
}


// Small block in a form used to show information.
// Used in the edit file page.
.form-block {
	@extend %formfield;
	& p {
		margin: 4px 2px;
	}
    background-color: #000;
}


.btngroup {
    display: block;
    &>* { float: left; border-radius: 0px; }
    &>:first-child { border-radius: $fborder-rad 0px 0px $fborder-rad; }
    &>:last-child { border-radius: 0px $fborder-rad $fborder-rad 0px; }
    &>:first-child:last-child { border-radius: $fborder-rad; }

    // Clear floats after the button group
    &:not(.floating):after {
        content: "";
        clear: both;
        display: table;
    }
}

