@import 'vars.scss';

// Padding on the inside of form elements.
$elem-pad: 4px 6px;
$fborder-rad: $border-rad - 2;

// General form field stuff
%formfield {
    padding: $elem-pad;
    box-shadow: $shadow;

    border-radius: $fborder-rad;
    border: 1px solid;

    color: $body-color;
    border-color: $gray;
    background-color: $lightgray;

    font-size: $font-size - 2;
}

// Text Boxes
input, textarea {
    @extend %formfield;

    color: $body-color;
    background-color: #000;
    transition: background-color $fade-dur;

    &:focus {
        outline: none;
        background-color: $gray;
    }
}

// Buttons
button, input[type='button'], input[type='submit'], .button {
    @extend %formfield;

    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    // Remove chrome's ugly focus outline
    &:focus {
        outline: none;
    }

    &:hover {
        color: $body-color;
        background-color: #78b;
    }
    &:active, &.active {
        background-color: $gray;
        box-shadow: inset $shadow;
    }

    // Color affirmative buttons the primary color.
    &.affirm { @extend %btnaffirm; }
}
%btnaffirm, input[type='submit'] {
    background-color: $primary;
    color: #fff;

    &:focus, &:hover {
        background-color: $prim-light;
        color: #fff;
    }
    &:active {
        background-color: $prim-dark;
        color: #fff;
    }
}

// Select fields
select {
    @extend button;
    & option {
        background-color: $gray;

        &:hover { background-color: $primary; }
    }
}

// Make link buttons look like buttons.
a.button {
    text-decoration: none;
}

.btngroup {
    &>* { float: left; border-radius: 0px; }
    &>:first-child { border-radius: $fborder-rad 0px 0px $fborder-rad; }
    &>:last-child { border-radius: 0px $fborder-rad $fborder-rad 0px; }
    &>:first-child:last-child { border-radius: $fborder-rad; }
}

