@import 'vars.scss';
@import 'nav.scss';
@import 'forms.scss';
@import 'accordion.scss';
@import 'block.scss';
@import 'scaling.scss';
@import 'mod.scss';
@import 'tags.scss';

body {
    margin: 0 0;
    font-family: $font-stack;
    font-size: $font-size;
    color: $body-color;
    background: url('../img/bg.png');
}

h1, h2, h3, h4, h5 {
    font-family: $hfont-stack;
    color: $header-color;
}

h1 { font-size: $h1-size; }
h2 { font-size: $h1-size - $h-offset*1; }
h3 { font-size: $h1-size - $h-offset*2; }
h4 { font-size: $h1-size - $h-offset*3; }
h5 { font-size: $h1-size - $h-offset*4; }

a {
    color: $link-color;
    transition: color $fade-dur;

    &:hover { color: $link-hover-color; }
    &:active { color: $link-click-color; }
}

main, header, footer, .container {
    margin: auto auto;
    padding: 0 0;
    max-width: $page-width;
}

header {
    margin-top: $nav-height + 24px;
}

ul.flashes {
    background-color: $flash-color;
    border-radius: $border-rad;
    list-style-type: none;
    box-shadow: $shadow;
    & li {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #fff;
    }
}

main {
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px 30px;
}

footer {
    border-style: solid;
    border-color: $footer-rule-color;
    border-width: 0px;
    border-top-width: 1px;

    & p {
        font-size: $footer-text-size;
        color: $footer-text-color;
        margin: 4px 30px;
    }
    & a {
        color: $footer-link-color;
        &:hover {
            color: $footer-link-hover-color;
        }
    }
}

.small {
    font-size: $font-size - 2;
}

.right {
    float: right;
}

