@import "vars.scss";

$nav-color: #fff;
$nav-bgcolor: $primary;
$nav-hlcolor: rgba(255, 255, 255, 0.2);
$nav-active:  rgba(0, 0, 0, 0.8);

%nav-thumbnail {
    width: $nav-height;
    height: $nav-height;
    vertical-align: text-top;
    border-radius: 10%;
}

nav {
    border: none;
    overflow: hidden;
    background: url('../img/top-bg.png');
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: $shadow;
    font-family: $hfont-stack;

    & .container {
        height: 100%;
        overflow: hidden;
    }

    @mixin active-navbtn {
        color: $nav-color;
        background-color: $nav-active;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.28);
    }

    & a, & button {
        float: left;
        background: none;
        text-decoration: none;
        border: none;

        color: $nav-color;
        padding: 6px 10px;
        display: inline-block;
        height: $nav-height;
        line-height: $nav-height;
        font-size: 14pt;

        transition: color $fade-dur, box-shadow $fade-dur, background $fade-dur;

        &:hover {
            color: $nav-color;
            background-color: $nav-hlcolor;
        }

        &:active, &.active {
            @include active-navbtn;
        }
    }
    & .dropdown {
        padding: 0px;
        float: left;
        display: block;
        overflow: visible;

        &.right { float: right; }

        & .dropbtn {
            &::after {
                font-family: "Font Awesome 5 Free"; font-weight: 900;
                content: " \f0d7";
            }

            &:hover, &:active, &.active {
                @include active-navbtn;
            }

            // Used for profile picture in the user dropdown.
            & img { @extend %nav-thumbnail; }
        }

        & .dropcontent {
            position: fixed;

            border-radius: 0px 0px $border-rad $border-rad;

            background-color: $gray;
            box-shadow: $shadow;

            min-width: 160px;
            max-height: 0%;
            overflow: hidden;

            z-index: 4;
            margin-top: $total-nav-height;

            transition: max-height $fade-dur * 2;

            & a, & .button {
                display: block;
                float: none;
                //&:first-child { border-radius: $border-rad $border-rad 0px 0px; }
                &:last-child { border-radius: 0px 0px $border-rad $border-rad; }
            }
        }

        // Open the dropdown when one of its elements is hovered or focused.
        &:hover, &:focus, &:focus-within {
            .dropcontent {
                max-height: 300px;
            }
            .dropbtn {
                @include active-navbtn;
            }
        }
    }
}

.logo {
    font-size: 16pt;
    border-left-width: 0px;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 0px;
    background: none;
    color: $nav-color;

    &:hover {
        background: none;
        color: $prim-light;
        box-shadow: none;
    }
    &:active {
        background: none;
        color: $primary;
        box-shadow: none;
    }

    & img { @extend %nav-thumbnail; }

    @media only #{$mobile} {
        .text { display: none; }
    }
}

