@import 'vars.scss';

table.pretty {
    background-color: $gray;
    border-radius: $border-rad;
    border-collapse: collapse;

    &>thead>tr {
        &>td {
            font-weight: bold;
            border: none !important;
            background-color: $lightgray;
            &:first-child { border-radius: $border-rad 0px 0px 0px; }
            &:last-child { border-radius: 0px $border-rad 0px 0px; }
        }
    }

    &>thead>tr, &>tbody>tr {
        &>td {
            padding: 6px 10px;
            margin: 0px;
            border: solid $lightgray 1px;
            &:first-child { border-left: none; }
            &:last-child { border-right: none; }
        }
        &:last-child>td { border-bottom: none; }
    }
}

