{% extends "base.html" %}
{% block title %}Browse Drafts{% endblock %}

{% import 'macros/tabs.html' as t with context %}

{% block content %}
<h1>Browse Drafts</h1>

<div class="block-tabs">
    {{ t.tab_btn(url_for('edit.draft_list', kind='mine'), "Your Drafts") }}
    {{ t.tab_btn(url_for('edit.draft_list'), "All Drafts") }}
    {{ t.tab_btn(url_for('edit.draft_list', kind='ready'), "Ready") }}
    {{ t.tab_btn(url_for('edit.draft_list', kind='archived'), "Archived") }}
</div>

<div id="mods list" class="list block">
    {% for draft in drafts %}
    <section class="block">
        <h1 class="modname">
          <a href="{{ url_for('edit.draft_page', id=draft.id, gvsn=gvsn) }}">
            {{ draft.name }}
        </a></h1>
        <p class="small">Drafted by {{ draft.user.name }} {{ draft.time_created|timesince }}</p>
        {% if draft.time_changed  %}
            <p class="small">Last changed {{ draft.time_changed|timesince }}</p>
        {% endif %}
        {% if draft.ready_time  %}
            <p class="small">Marked ready {{ draft.ready_time|timesince }}</p>
        {% endif %}
        {% if draft.merged_time  %}
            <p class="small">Merged {{ draft.merged_time|timesince }}</p>
        {% elif draft.archived_time  %}
            <p class="small">Archived {{ draft.archived_time|timesince }}</p>
        {% endif %}
        {% if draft.desc %}
            <p class="moddesc">{{ draft.desc }}</p>
        {% endif %}
    </section>
    {% else %}
    <p>There are no drafts.</p>
    {% endfor %}
</div>

{% endblock %}

