{% extends "base.html" %}
{% block title %}Browse Drafts{% endblock %}

{% block content %}
<h1>Browse Drafts</h1>

<div id="mods">
    <div class="list">
        {% for draft in drafts %}
        <section class="block">
            <h1 class="modname">
              <a href="{{ url_for('edit.draft_page', id=draft.id, gvsn=gvsn) }}">
                {{ draft.name }}
            </a></h1>
            <p class="small">Drafted by {{ draft.user.name }} {{ draft.time_created|timesince }}</p>
            {% if draft.time_changed  %}
                <p class="small">Last changed {{ draft.time_changed|timesince }}</p>
            {% endif %}
            {% if draft.desc %}
                <p class="moddesc">{{ draft.desc }}</p>
            {% endif %}
        </section>
        {% else %}
        <p>There are no drafts.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}

