{% extends "base.html" %}
{% block title %}Review Changes{% endblock %}
{% block content %}

{% import 'macros/forms.html' as f with context %}
{% import 'macros/diff.html' as d with context %}

<h1>Review Changes</h1>

<p>These are the changes that were made in this draft.</p>

{{ d.change_list(diff, childname='versions') }}


{% if has_role(_roles.moderator) %}
<form method="post">
    {{ form.csrf_token }}
    {% if not mod.current %}
    {{ form.slug.label }}: {{ form.slug }}
    {% endif %}
    {{ f.field_errors(form.slug.errors) }}
    <input type="submit" value="Confirm Changes">
</form>
{% endif %}


{% endblock %}



