{% extends "base.html" %}
{% block title -%}
{%- if editing -%}
Edit version {{ editing.name }} of {{ mod.name }}
{%- else -%}
Add a new version of {{ mod.name }}
{%- endif -%}
{%- endblock %}

{% import 'macros/forms.html' as d with context %}

{# Load the select field JavaScript before the rest of the page so our select fields work #}
{% block head %}
<script type="text/javascript" src="/static/select.js"></script>
{% endblock %}


{% block content %}

{% if editing %}
<h1>Edit version {{ editing.name }} of {{ mod.name }}</h1>
{% else %}
<h1>Add a new version of {{ mod.name }}</h1>
{% endif %}
<form method="post">
    {{ form.csrf_token }}
    <table class="form-table">
        <tbody>
            <tr>
                <td class="label">{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
                <td>{{ d.field_errors(form.name.errors) }}</td>
            </tr>
            <tr>
                <td class="label">{{ form.url.label }}</td>
                <td>{{ form.url }}</td>
                <td>{{ d.field_errors(form.url.errors) }}</td>
            </tr>
            <tr>
                <td class="label">{{ form.gamevsns.label }}</td>
                <td>{{ form.gamevsns }}</td>
                <td>{{ d.field_errors(form.gamevsns.errors) }}</td>
            </tr>
            <tr>
                <td class="label">{{ form.desc.label }}</td>
                <td>{{ form.desc }}</td>
                <td>{{ d.field_errors(form.desc.errors) }}</td>
            </tr>
        </tbody>
    </table>
    {{ form.submit }}
</form>

{% endblock %}

