{%- macro author_list(alist) %}
{%- for a in alist %}
{{- a.name }}{% if not loop.last %}, {% endif %}
{%- endfor %}
{%- endmacro %}

{% macro change_list(diff, childname) %}
<ul>
    {% for field in diff.changes %}
    {% if field == 'children' %}
    {# these are listed below scalar fields #}
    {% elif field.name == 'authors' %}
    <li>Change authors from "{{ author_list(field.old) }}" to
        "{{ author_list(field.new) }}".</li>
    {% else %}
    <li>Change {{ field.name }} from "{{ field.old }}" to "{{ field.new }}".</li>
    {% endif %}
    {% endfor %}

    {% if diff.children %}
    {% if len(diff.children.added) > 0 %}
    <li>Add {{ childname }}:
        <ul>
            {% for ch in diff.children.added %}
            <li>{{ ch.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if len(diff.children.removed) > 0 %}
    <li>Remove {{ childname }}:
        <ul>
            {% for ch in diff.children.removed %}
            <li>{{ ch.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if len(diff.children.changed) > 0 %}
    <li>Change {{ childname }}:
        <ul>
            {% for vsn in diff.children.changed %}
            <li>{{ vsn.new.filename if childname == files else vsn.new.name }}
                ({{ vsn.old.id }}):
                {{ change_list(vsn.changes, childname='files') }}
                {% endfor %}
            </li>
        </ul>
    </li>
    {% endif %}
    {% endif %}
</ul>
{% endmacro %}

{% macro diff_list(changes, class='block') %}
{% for change in changes %}
{% set mod = change['obj'].current %}
<section class="{{ class }}">
    <a class="right button" href="{{ url_for('mods.mod_history', slug=mod.slug) }}">
        Full Mod History</a>
    <h1><a href="{{ url_for('mods.mod_revision', slug=mod.slug, index=change['obj'].index) }}">
            Revision {{ change['obj'].index }} for {{ mod.name }}</a></h1>
    <p class='small'>By {{ change['user'].name if change['user'] else 'script' }}
    {{ change['date']|timesince }} ({{ change['date'] }})</p>
    {{ change_list(change['diff'], childname='versions') }}
</section>
{% endfor %}
{% endmacro %}

