{% macro search_form(otherbtns=[]) %}
<form class='flexform' method="GET" action="{{ url_for('mods.browse') }}">
    <div class='shrink' style='flex-basis: 200px'>
        <select id="gamevsn" name="gvsn">
            <option value="" placeholder>Game Version</option>
        </select>
    </div>

    <div class='shrink' style='flex-basis: 200px'>
        <select id="author" name="author">
            <option value="" placeholder>Author</option>
        </select>
    </div>

    <div class='shrink'>
        <input type="text" name="kw" value="{{ request.args['kw'] }}"
                                     placeholder="Keyword" />
    </div>

    <div class='shrink'>
        <input type="submit" value="Search"></input>
        {% for btn in otherbtns %}
        <a href="{{ btn['url'] }}" class="button">{{ btn['label'] }}</a>
        {% endfor %}
    </div>
</form>
{% endmacro %}

