{% macro search_form(otherbtns=[]) %}
<form method="GET" action="{{ url_for('mods.browse') }}">
    <table>
        <tbody>
            <tr>
                <td>Search by</td>
                <td style="width: 130px;">
                    <select id="gamevsn" name="gvsn">
                        <option value="" placeholder>Game Version</option>
                    </select>
                </td>
                <td style="width: 200px;">
                    <select id="author" name="author">
                        <option value="" placeholder>Author</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="kw" value="{{ request.args['kw'] }}"
                           placeholder="Keyword" />
                </td>
                <td><input type="submit" value="Search"></input></td>
                {% for btn in otherbtns %}
                    <td><a href="{{ btn['url'] }}" class="button">{{ btn['label'] }}</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</form>
{% endmacro %}

