{% extends "base.html" %}
{% block title %}Browse Archive{% endblock %}
{% block content %}

<h1>Browse Mods</h1>

{% if len(filters) > 0 %}
<p>Showing mods
{% for (f, x) in filters %}
{% if f == 'author' %} by {{ x }}{% endif %}
{% if f == 'gvsn' %} for Minecraft {{ x }}{% endif %}
{% endfor %}
</p>
<p><a href="{{ url_for('mods.browse') }}">Show all</a></p>
{% endif %}

<div id="mods">
    <div class="list">
        {% for mod in mods %}
        <section class="block">
            <h1 class="modname">
                <a href="{{ url_for('mods.mod_page', slug=mod.slug, gvsn=gvsn) }}">{{ mod.name }}</a>
            </h3>
            <p class="gamevsn small">Supports Minecraft {{ mod.game_versions_str() }}</p>
            {% if mod.desc %}
            <p class="moddesc">{{ mod.desc }}</p>
            {% endif %}
        </section>
        {% endfor %}
    </div>
</div>

{% endblock %}


