{% extends "base.html" %}

{% block title %}{{ mod.name }}{% endblock %}

{% block content %}

<noscript>
    <ul class='flashes'>
        <li>The mod editor requires JavaScript to function. Please enable JavaScript in your web browser.</li>
    </ul>
</noscript>

<h1>Edit Mod</h1>

{# This page is handled by react #}
<div id="mod-form"></div>

{% endblock %}

{% block js %}
<script type="text/javascript">
var csrf_token = '{{ csrf_token() }}';
var mod_json = {{ modjson | tojson }};
var authors_json = {{ authorjson | tojson }};
var game_vsns_json = {{ gvsnjson | tojson }};
</script>
<script type="text/javascript" src="/static/edit-mod.js"></script>
{% endblock %}


