{% extends "base.html" %}

{% block title %}{{ mod.name }}{% endblock %}

{% macro vsnblock(vsn) %}
<section class="block">
    <h1>{{ vsn.name }}</h1>

    {% if vsn.desc %}
    <div class="vsn-desc">
        {{ vsn.desc | markdown }}
    </div>
    {% endif %}

    {% for file in vsn.files %}
    <section class="sub-block">
        <h2 class="file-name">{{ file.filename }}</h1>
        <p class="small"><span class="sha256 hash">{{ file.sha256 }}</span></p>
        <ul class="urls">
            <li>
                {% if file.redirect_url %}
                <a class="button" href="{{ file.redirect_url }}">Official Indirect Download</a>
                {% endif %}
                {% if file.direct_url %}
                <a class="button" href="{{ file.direct_url }}">Official Direct Download</a>
                {% endif %}
                {% if file.page_url %}
                <a class="button" href="{{ file.page_url }}">Download Page</a>
                {% endif %}
            </li>
        </ul>
    </section>
    {% endfor %}
</section>
{% endmacro %}

{% block content %}

{% if by_gvsn %}
<div class="filter alert">
    Showing versions of this mod that support Minecraft {{ by_gvsn }}.
    <a href="{{ url_for('mods.mod_page', slug=mod.slug) }}">Show all</a>
</div>
{% endif %}

{% if rev is defined %}
<div class="alert">
    Showing an older version of this mod page (revision {{ rev.id }}).
    <a href="{{ url_for('mods.mod_page', slug=rev.current.slug) }}">Show current</a>
</div>
{% endif %}

{% if insecure_cur_user() and rev is not defined %}
<div class="btngroup right">
<a class="button" href="{{ url_for('mods.mod_history', slug=mod.slug) }}">History</a>
<a class="button" href="{{ url_for('mods.edit_mod', slug=mod.slug) }}">Edit</a>
</div>
{% endif %}
<h1>{{ mod.name }}</h1>

{% macro author_name(author) %}
<a href="{{ url_for('mods.browse', author=author.name) }}">{{ author.name }}</a>
{% endmacro %}

{% if len(mod.authors) > 0 %}
<p class="mod-authors"><i>
Authored by
{% for author in mod.authors %}
    {% if author == mod.authors|first and len(mod.authors) <= 2 %}
        {{ author_name(author) }}
    {% elif author == mod.authors|last %}
        and {{ author_name(author) }}
    {% else %}
        {{ author_name(author) }}, 
    {% endif %}
{% endfor %}
</i></p>
{% endif %}

{% if mod.desc %}
<div class="mod-desc">
    {{ mod.desc | markdown }}
</div>
{% endif %}

{% for mcv, vsns in vsns_grouped.items() %}

<h2>For Minecraft <a href="{{ url_for('mods.browse', gvsn=mcv) }}">{{ mcv }}</a></h2>

{% if vsns and len(vsns) > 0 %}
{{ vsnblock(vsns[0]) }}
{% endif %}

{% if vsns and len(vsns) > 1 %}
<button class="accbtn">{{ len(vsns) - 1 }} more</button>
<div class="accordion">
    {% for vsn in vsns[1:] %}
    {{ vsnblock(vsn) }}
    {% endfor %}
</div>
{% endif %}

{% endfor %}

{% endblock %}

