{% extends "base.html" %}
{% block title %}Confirm Password Reset{% endblock %}
{% block content %}

<h1>Confirm Password Reset</h1>

<p>Are you sure you want to reset {{ user.name }}'s password. This will log out all their
sessions and generate a one-time-use link you can send to them where they will
be allowed to reset their password.</p>

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Confirm">
</form>

{% endblock %}

