{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}

{% import "macros/diff.html" as d with context %}

{% block content %}

<h1>Control Panel</h1>

{% if has_role(_roles.admin) %}
<div class='row'>
    <section class='column block'>
        <h1>Admin Tools</h1>
        <ul>
            {% if has_role(_roles.admin) %}
            <li><a href="{{ url_for('admin.users') }}">Users</a></li>
            <li><a href="{{ url_for('admin.new_user')}}">Create New User</li>
            {% endif %}
            {% if has_role(_roles.moderator) %}
            <li><a href="{{ url_for('admin.changes') }}">Recent Changes</a></li>
            {% endif %}
        </ul>
    </section>
    <section class='column block'>
        <h1>Recent Users</h1>
        <ul>
            {% for user in users %}
            <li><a href="{{ url_for('admin.user', name=user.name) }}">
                    {{ user.name }}</a> last seen {{ user.last_seen|timesince }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('admin.users') }}">All Users</a>
    </section>
</div>
{% endif %}
<div class='row'>
    <section class='column block'>
        <a class='button right' style='margin-top: 8px'
            href="{{ url_for('edit.new_mod') }}">New Mod</a>
        <h1>Your Drafts</h1>
        {% if my_drafts %}
        <ul>
            {% for draft in my_drafts %}
            <li><a href="{{ url_for('edit.draft_page', id=draft.id) }}">
                    {{ draft.name }} (draft {{ draft.id }})</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None!</p>
        {% endif %}
    </section>
    <section class='column block'>
        <h1><a href="{{ url_for('edit.draft_list') }}">Drafts</a></h1>
        {% if drafts %}
        <ul>
            {% for draft in drafts %}
            <li>
                <a href="{{ url_for('edit.draft_page', id=draft.id) }}">
                    {{ draft.name }} (draft {{ draft.id }})</a>
                    last change {{ draft.time_changed | timesince }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None!</p>
        {% endif %}
    </section>
    {% if has_role(_roles.moderator) %}
    <section class='column block'>
        <h1>Ready for Review</h1>
        {% if ready_drafts %}
        <ul>
            {% for draft in ready_drafts %}
            <li>
                <a href="{{ url_for('edit.draft_page', id=draft.id) }}">
                    {{ draft.name }} (draft {{ draft.id }})</a>
                    ready {{ draft.ready_time | timesince }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None!</p>
        {% endif %}
    </section>
    {% endif %}
</div>

<section class='block'>
    <h1><a href="{{ url_for('admin.changes') }}">Recent Changes</a></h1>
    {{ d.diff_list(changes, class='sub-block') }}
</section>

{% endblock %}

