{% macro nav_btn(url, text, cls="") %}
<a href="{{ url }}" class="{{ cls }} {% if request.path == url %}active{% endif %}">{{ text }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} &ndash; Minecraft Archive</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {% assets "css_all" %}
    <link href="{{ ASSET_URL }}" rel='stylesheet' type='text/css'>
    {% endassets %}
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="{{ url_for("root.home") }}">Minecraft Archive</a>
            {{ nav_btn(url_for("mods.browse"), "Browse") }}

            {#
            It's OK to use the insecure version here because we're just checking whether to show
            the login button. This saves us a database query on every single page load.
            #}
            {% set iuser = insecure_cur_user() %}
            {% if iuser %}
            <div class="dropdown right">
                <a href="javascript:void();" class="dropbtn">
                    <img src="{{ iuser.avatar }}" alt="{{ iuser.name }} Avatar">
                    {{ iuser.name }}
                </a>
				<div class="dropcontent">
                    <a href="{{ url_for("user.logout") }}">Log Out</a>
				</div>
            </div>
            {% else %}
            {{ nav_btn(url_for("user.login"), "Log In", "right") }}
            {% endif %}
        </div>
    </nav>

    <header>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </header>

    {% block main %}
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <p>Copyright &copy; 2017-2019 Minecraft Mod Archive</p>
        <p>Powered by <a href="https://flask.pocoo.org/">Flask</a></p>
   </footer>
   {% endblock %}

   {% block end %}{% endblock %}

   {% assets "js_all" %}
   <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
   {% block js %}{% endblock %}
</body>
</html>

