{% import 'macros/tabs.html' as t with context %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %} &ndash; MCArchive</title>

    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="{{ url_for("root.home") }}">
                <img src="/static/logo.svg" alt="">
                <span class="text">MCArchive</span>
            </a>
            {% set curuser = cur_user() %}

            {{ t.tab_btn(url_for("mods.browse"), "Browse") }}

            {% if curuser and has_role(_roles.archivist) %}
            {{ t.tab_btn(url_for("admin.main"), "Panel") }}
            {% endif %}

            {% if curuser %}
            <div class="dropdown right">
                <a href="javascript:void();" class="dropbtn">
                    <img src="{{ curuser.avatar_url() }}" alt="">
                    {{ curuser.name }}</a>
                <div class="dropcontent">
                    {{ t.tab_btn(url_for("user.settings"), "Settings") }}
                    {{ t.tab_btn(url_for("user.logout"), "Log Out") }}
				</div>
            </div>
            {% else %}
            {{ t.tab_btn(url_for("user.login"), "Log In", "right") }}
            {% endif %}
        </div>
    </nav>

    <header>
        {% if config['DEPLOYMENT'] != 'production' %}
        <div class='alert'>
            This is not the production deployment of MCArchive. Changes made
            here may be deleted at any time!
        </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </header>

    {% block main %}
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <p>Copyright &copy; 2017-2023 MCArchive</p>
        <p class="container">
            <a href="https://github.com/MCArchive/MCArchive">GitHub</a>
            <a href="https://discord.gg/WuexGpP">Discord</a>
            <a href="{{ url_for('api.doc') }}" class="right">API</a>
        </p>
   </footer>
   {% endblock %}

   {% block end %}{% endblock %}

   <script type="text/javascript" src="/static/main.js"></script>
   {% block js %}{% endblock %}
</body>
</html>

