{% macro nav_btn(url, text, cls="") %}
<a href="{{ url }}" class="{{ cls }} {% if request.path == url %}active{% endif %}">{{ text }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %} &ndash; MCArchive</title>

    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="{{ url_for("root.home") }}">
                <img src="/static/logo.svg" alt="">
                <span class="text">MCArchive</span>
            </a>
            {#
            It's OK to use the insecure version here because we're just checking whether to show
            nav buttons. This saves us a database query on every single page load.
            #}
            {% set iuser = insecure_cur_user() %}

            {{ nav_btn(url_for("mods.browse"), "Browse") }}

            {% if iuser and has_role(_roles.archivist) %}
            {{ nav_btn(url_for("archivist.main"), "Panel") }}
            {% endif %}


            {% if iuser and has_role(_roles.moderator) %}
            {{ nav_btn(url_for("admin.main"), "Admin") }}
            {% endif %}

            {% if iuser %}
            <div class="dropdown right">
                <a href="javascript:void();" class="dropbtn">
                    <img src="{{ iuser.avatar }}" alt="">
                    {{ iuser.name }}</a>
                <div class="dropcontent">
                    {{ nav_btn(url_for("user.logout"), "Log Out") }}
				</div>
            </div>
            {% else %}
            {{ nav_btn(url_for("user.login"), "Log In", "right") }}
            {% endif %}
        </div>
    </nav>

    <header>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </header>

    {% block main %}
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <p>Copyright &copy; 2017-2020 Minecraft Mod Archive</p>
        <p>
            <a href="https://github.com/MCArchive/MCArchive">GitHub</a>
            <a href="https://discord.gg/WuexGpP">Discord</a>
        </p>
   </footer>
   {% endblock %}

   {% block end %}{% endblock %}

   <script type="text/javascript" src="/static/main.js"></script>
   {% block js %}{% endblock %}
</body>
</html>

