{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% import "macros/search.html" as s %}

{% block content %}

<img class="big-logo" src="/static/logo.svg" alt="MCArchive Logo"/>

<h1>Minecraft Archive</h1>

<p>Welcome to the the Minecraft Archive. Our goal is to make it easy to find old
Minecraft mods. To that end, we archive mods, and keep them publicly accessible
even after their creators no longer distribute them.</p>

<p>We provide downloads for mods which are no longer available for download from
their original creator. Otherwise, we just link to the official download page.</p>

<p>If you want help with these mods or others for older versions of Minecraft,
or you want to help us preserve these mods for the future, come
<a href="https://discord.gg/WuexGpP">join us on Discord</a>.</p>

<div class="block">
    {{  s.search_form(otherbtns=[
        { "label": "Browse All Mods", "url": url_for("mods.browse") }
    ]) }}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/select.js"></script>
{% endblock %}

