{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<h1>Reset Password</h1>
<form method="POST">
    <ul class="errors">
        {% for fname, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[fname].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {{ form.csrf_token }}
    {{ form.password(placeholder="New Password", tabindex=1, autofocus=True) }}
    {{ form.confirm(placeholder="Confirm Password", tabindex=2) }}
    <input type="submit" value="Reset Password" tabindex="3">
</form>
{% endblock %}

